#gp-social-share {
	
	margin: 10px 0 0 0;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	
}

#gp-social-share li {

	margin-right: 10px;
	
}

#gp-social-share li:last-child {
	
	margin-right: 0;
	
}

#gp-social-share a svg {

	fill: #999999;

}

#gp-social-share a.fb-share:hover svg {
	
	fill: #3b5998;
	
}

#gp-social-share a.tw-share:hover svg {
	
	fill: #00acee;
	
}

#gp-social-share a.li-share:hover svg {
	
	fill: #0077b5;
	
}

#gp-social-share a.pt-share:hover svg {
	
	fill: #c92228;
	
}

#gp-social-share a.gp-share:hover svg {
	
	fill: #dd4b39;
	
}

#gp-social-share a.em-share:hover svg {
	
	fill: #f1f1d4;
	
}